body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  #form-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(154, 219, 189);
    padding: 100px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(87, 10, 10, 0.1);
    margin-top: 0px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .label-box {
    display: block;
    margin-bottom: 30px;
    color: rgb(87, 13, 13);
  }
  
  .input-box {
    width:  70%;
    display: inline-block;
  }
  
  .input-box input,
  .input-box textarea {
    width: 70%;
    padding: 1px;
    border: 1px solid rgb(76, 70, 168);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  textarea {
    resize: none;
  }
  
  textarea-row {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }